{{ define "Misson.tmpl" }}
<div class="section-outer Misson-outer section-Misson" id="section-Misson">
</div>
<style>{{ template "Misson.css" }}</style>
<script>{{ template "Misson.js"}}</script>
{{end}}