{{ define "Contact.tmpl" }}
<div class="section-outer Contact-outer section-Contact" id="section-Contact">
    <div class="contact-inner">
        <div class="contact-header">Contact Us Today:</div>
        <div class="contact-info-outer">
            <div class="contact-info">
                <div class="contact-address">420 Pennsylvania Avenue</div>
                <div class="contact-phone">(595) - 01 - 4444</div>
                <div class="contact-email">dk@anglewood.investments</div>
            </div>
        </div>
    </div>
</div>
</div>
<style>{{ template "Contact.css" }}</style>
<script>{{ template "Contact.js"}}</script>
{{end}}
