{{ define "Contact.tmpl" }}
<div class="section-outer Contact-outer section-Contact" id="section-Contact">
</div>
<style>{{ template "Contact.css" }}</style>
<script>{{ template "Contact.js"}}</script>
{{end}}