{{ define "socmed.tmpl" }}
    <div class="social">
       <ul>
         <li><img src="../../public/assets/instagram.png"/></li>
         <li><img src="../../public/assets/facebook.png"/></li>
       </ul>
    </div>
<style>{{ template "socmed.css" }}</style>
<script>{{ template "socmed.js"}}</script>
{{end}}
