{{ define "gallery" }}
    <div class="gal" id="gallery">
      <div class="selectedPic" id="selectedPicOuter">
          <img id="selectedPicImg" class="selectedPicImg" src="../../public/assets/gallery/001.jpg">
      </div>
        <div class="picList">
            <div class="picListInner" id="picListInner">
              <div class="prevPic galButt" id="galButtPrev" onclick="prevPic()"><div class="galButtInner">◀</div></div>
              <div class="galPic"></div>
              <div class="galPic"></div>
              <div class="galPic"></div>
              <div class="galPic"></div>
              <div class="galPic"></div>
              <div class="galPic"></div>
              <div class="nextPic galButt" id="galButtNext" onclick="nextPic()"><div class="galButtInner">▶</div></div>
            </div>
        </div>
    </div>
<script>
  var gallery = {{ .Gallery }};
  var selectedNumber = 0;
  var leader = 0;
  medias = document.getElementsByClassName("galPic");
  
  function moveMedia(mediaNum) {
    console.log("mm::",mediaNum)
    for (var i=0; i<medias.length; i++) {
      medias[i].innerHTML = "";
      s = gallery[i + mediaNum];
      gbp = document.getElementById("galButtPrev");
      if (s.slice(s.length - 3, s.length) == "mp4") {
        vid = document.createElement("video");
        vid.id = "media_" + s;
        vid.className = "galPicImg";
        vid.src = '../../public/assets/gallery/' + gallery[i + mediaNum];
        medias[i].appendChild(vid);
        vid.setAttribute("onclick","selectMedia('vid', '" + gallery[i + mediaNum] + "')" );
      } else {
        img = document.createElement("img");
        img.id = "media_" + s;
        img.className = "galPicImg";
        img.src = '../../public/assets/gallery/' + gallery[i + mediaNum];
        medias[i].appendChild(img);
        img.setAttribute("onclick","selectMedia('img', '" + gallery[i + mediaNum] + "')" );
      }
      medias[i].style.border = "unset";
    }
  }

  function nextPic() {
    if (leader >= gallery.length - 5) {
      if (selectedNumber < gallery.length && selectedNumber != -1) {
        selectMedia(findType(selectedNumber + 1), gallery[selectedNumber + 1], "right")
      }
    } else {
      selectMedia(findType(selectedNumber + 1), gallery[selectedNumber + 1], "right")
    }
  }

  function prevPic() {
    if (leader == 0) {
      if (selectedNumber > 0) {
             selectMedia(findType(selectedNumber - 1), gallery[selectedNumber - 1], "left")
      } else {
             selectMedia(findType(0), gallery[0])
      }
    } else {
     selectMedia(findType(selectedNumber - 1),  gallery[selectedNumber - 1], "left")
    }
  }

  function findType(ind) {
    if (ind > 0 && ind < gallery.length) {
       s = gallery[ind];
      if (s.slice(s.length - 3, s.length) == "mp4") {
        return "vid";
      }
      return "img";
    }
  }

  function selectMedia(mediaType, src, dir) {
    submedias = document.getElementsByClassName("galPicImg");
    for (var i=0; i<submedias.length; i++) {
      submedias[i].style.border = "unset";
    }
    if (src != undefined) {
      picDiv = document.getElementById("selectedPicOuter");
      picDiv.innerHTML = "";

      if (dir != undefined) {
        if (dir == "left") {
          if (mediaType == "vid") {
              vid = document.createElement("video");
              vid.className = "selectedPicImg";
              vid.src = "../../public/assets/gallery/" + gallery[selectedNumber - 1] ;
              picDiv.appendChild(vid);
              vid.play();
          } else {
              img = document.createElement("img");
              img.className = "selectedPicImg";
              img.src = "../../public/assets/gallery/" + gallery[selectedNumber - 1];
              picDiv.appendChild(img);
          }
          if (leader > 0) {
          leader = leader - 1;
          } 
          moveMedia(leader);
          console.log("media_" + gallery[selectedNumber - 1])
    document.getElementById("media_" + gallery[selectedNumber - 1]).style.border = "2px solid gold";
        } else {
          console.log("right");
          if (mediaType == "vid") {
              vid = document.createElement("video");
              vid.className = "selectedPicImg";
              vid.src = "../../public/assets/gallery/" + gallery[selectedNumber + 1];
              picDiv.appendChild(vid);
              vid.play();
          } else {
              img = document.createElement("img");
              img.className = "selectedPicImg";
              img.src = "../../public/assets/gallery/" + gallery[selectedNumber + 1];
              picDiv.appendChild(img);
          }
          if (leader < 206) {
          leader = leader + 1
          }
          moveMedia(leader);
    document.getElementById("media_" + gallery[selectedNumber + 1]).style.border = "2px solid gold";
        }
        selectedNumber = gallery.indexOf(src);
        return;
      }
      if (mediaType == "vid") {
          vid = document.createElement("video");
          vid.className = "selectedPicImg";
          vid.src = "../../public/assets/gallery/" + src ;
          picDiv.appendChild(vid);
          vid.play();
    document.getElementById("media_" + src).style.border = "2px solid gold";
      } else {
          img = document.createElement("img");
          img.className = "selectedPicImg";
          img.src = "../../public/assets/gallery/" + src ;
          picDiv.appendChild(img);
    document.getElementById("media_" + src).style.border = "2px solid gold";
      }
      selectedNumber = gallery.indexOf(src);
      }
  }

picDiv = document.getElementById("selectedPicOuter");
picDiv.addEventListener('touchstart', function (event) {
    touchstartX = event.changedTouches[0].screenX;
    touchstartY = event.changedTouches[0].screenY;
}, false);

picDiv.addEventListener('touchend', function (event) {
    touchendX = event.changedTouches[0].screenX;
    touchendY = event.changedTouches[0].screenY;
    handleGesture();
}, false);


function handleGesture() {
    if (touchendX < touchstartX) {
        console.log('Swiped Left');
        nextPic();
    }

    if (touchendX > touchstartX) {
        console.log('Swiped Right');
        prevPic();
    }

    if (touchendY < touchstartY) {
        console.log('Swiped Up');
    }

    if (touchendY > touchstartY) {
        console.log('Swiped Down');
    }

    if (touchendY === touchstartY) {
        console.log('Tap');
    }
}


  moveMedia(0);
</script>
<style>
.gal {
  width: 50%;
  height: 75%;
  margin-left: 25%;
  margin-bottom: 10em;
  margin-top: 3em;
}

.picList {
  // display: flex;
}
.picListInner {
  display: inline-flex;
  max-height: 7em;
  width: 100%;
    height: 100%;
      min-height: 7em;
        justify-content: space-between;
}
.selectedPicImg {
  max-width: 100%;
      height: 100%;
        width: 100%;
}

.galPicImg {
  width: 100%;
}
.galPic {
  width: 100%;
  display: inline-flex;
}
.galButtInner {
      position: relative;
  left: 50%;
  top: 75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
      user-select: none;
}
.galButt {
  width: 65%;
  background: black;
  color: white;
  display: inline-flex;
  font-size: 2em;
}
.selectedPic {
      height: 100%;
    text-align: center;
}
.nextPic {
}

video::-internal-media-controls-overlay-cast-button {
    display: none;
}


@media screen and (orientation:portrait) {
  .gal {
    width: 100%;
    min-width: 100%;
    margin: unset;
    max-height: 55%;
    margin-bottom: 10em;
    margin-top: 5em;
  }
  .picListInner {
    min-height: 4em;
    max-height: 4em;
  }
  .galButt {
    width: 100vw;
  }
  .galButtInner {
    top: 64%;
  }
}

</style>
{{end}}
