{{ define "main" }}
        <div class="container"><img class="logo" id="logo" src="../../public/assets/ai.png">
  <div class="centered">Turning houses into homes</div>
        </div>
        <div class="bg"></div>
        <script>
        <!-- var ia = document.getElementById("logo") -->
        <!-- ia.style.right = (window.innerWidth/2) - (ia.offsetWidth/2) + "px"; -->
        </script>
{{ end }}
