{{define "menu"}}
   <div class="menu" id="menu">
           <div class="menuClose" onclick="hideMenu()">☒</div>
     <ul>
       <!-- <li><a href="/mission">Mission</a></li> -->
       <!-- <li><a href="/gallery">Gallery</a></li> -->
       <!-- <li><a href="/about">About</a></li> -->
       <!-- <li><a href="/contact">Contact</a></li> -->
       <li onclick="jumpTo('mission')">Mission</li>
       <li onclick="jumpTo('gallery')">Gallery</li>
       <li onclick="jumpTo('about')">About</li>
       <li onclick="jumpTo('contact')">Contact</li>
     </ul>
   </div>
{{end}}
