{{define "menu"}}
   <div class="menu" id="menu">
           <div class="menuClose" onclick="hideMenu()">☒</div>
     <ul>
             <li><a href="/mission">Mission</li>
             <li><a href="/gallery">Gallery</a></li>
             <li><a href="/about">About</a></li>
             <li><a href="/contact">Contact</li>
     </ul>
   </div>
{{end}}
