<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
{{template "head" . }} 
  <body>
    {{template "autosplash.tmpl" . }}
    {{template "autonav.tmpl" . }}
    {{template "Contact.tmpl" . }}
    {{template "About.tmpl" . }}
    {{template "Gallery.tmpl" . }}
    {{template "Misson.tmpl" . }}
    {{template "footer" . }}
  </body>
</html>